@page
@model PecnikCoreRazor.Pages.DestinationsModel
@{
    ViewData["Title"] = SharedLocalizer["Trips"];
}

@*<h2>Destinations</h2>*@

<div class="row">
    <div class="col-xs-12" id="underConstruction">
        <img src="~/images/temp/underConstruction.svg" alt="Alternate Text" class="img-responsive" />
    </div>
</div>

